.git
.gitignore
README.md
.env
.env.*
writable/logs/*
writable/cache/*
writable/session/*
writable/uploads/*
writable/debugbar/*
vendor/
node_modules/
*.log
.DS_Store
Thumbs.db
docker-compose.yml
Dockerfile
.dockerignore

